body{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    background-color: rgb(37,37,37);
    height: 60px;
    display: flex;
    flex: 1 3;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    top: 0;
}

.header-button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37,37,37);
    border: 0;
    color: aliceblue;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    padding: 1px 6px 1px 6px;
    margin: 5PX;
}
.header-button span{
    vertical-align: middle;

}
.header-button svg{
    height: 27px;
    width: 27px;
    vertical-align: middle;
    margin: 3px;
}
.v-bar{
    font-size: 20px;
    color: rgb(119, 119, 119);
    vertical-align: middle;
}
.ab-image{
    height: 35px;
    vertical-align: middle;
}